<form id="sendListData">
        List Name:<br>
        <input type="text" id="listNameForm">
        <br>
        Description:<br>
        <input type="text" id="listDescriptionForm">
        <input type="submit">

        </form>