<form id="editListForm">
        New name:<br>
        <input type="text" id="newlistNameForm">
        <br>
        New description:<br>
        <input type="text" id="newlistDescriptionForm">
        <br>
        Game to add (if many, separete with comma):
        <br>
        <input type="text" id="listOfGamesForm">
        <br>
        <input type="submit">

</form>